@use 'variables' as main;

mat-icon {
  color: #9e9e9e;
  font-size: 24px;
}

mat-card.mat-mdc-card.places-grid-card {
  img.mat-mdc-card-image {
    position: relative !important;
  }

  > mat-card-header.mat-mdc-card-header {
    justify-content: space-between;
    align-items: flex-end;
    gap: main.spacing(1);
    padding: 0px main.spacing(2);

    > div.mat-mdc-card-header-text {
      display: flex;
      flex-direction: column;
      gap: main.spacing(1);
    }
  }

  .mat-mdc-card-title {
    display: flex;
    gap: main.spacing(1);
    align-items: center;
    font-size: larger;
  }

  .mat-mdc-card-content {
    display: flex;
    flex-direction: column;
    gap: main.spacing(2);
    padding: main.spacing(2);
    padding-top: main.spacing(1);
  }

  section.schedule {
    display: flex;
    flex-direction: column;
    gap: main.spacing(1);
  }
}

.mat-mdc-card.places-table-card {
  display: flex;
  flex-direction: row;
  gap: main.spacing(2);

  .mat-mdc-card-header {
    padding: main.spacing(1);
  }

  .mat-mdc-card-content {
    padding: main.spacing(1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: main.spacing(2);
    flex-grow: 1;
  }
}

div.image-overlay-container {
  position: relative;
}

div.overlay {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(63, 81, 181, 0.6);
  color: white;
  font-weight: 550;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

dl.activities-list {
  display: flex;
  gap: main.spacing(1);

  > dt.activities-item {
    height: main.spacing(4);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: main.spacing(3);

    > span.activities-text {
      padding: 0px main.spacing(2);
    }
  }
}
