<main class="flex flex-col items-center gap-8">
  @if(!hasFilterType()) { @for (item of media(); track item.type) {

  <ng-container
    *ngTemplateOutlet="mediaSection; context: { $implicit: item }"
  ></ng-container>

  } } @else {
  <ng-container
    *ngTemplateOutlet="mediaSection; context: { $implicit: mediaItem() }"
  ></ng-container>

  }
</main>

<ng-template #mediaSection let-item>
  <div class="media-container">
    <header class="text-4xl">
      {{ item.type | titlecase | pluralize : item.count }} ({{
        item.data.length
      }})
    </header>

    <article
      [ngClass]="{ 'list-content': isList(), 'grid-content': !isList() }"
    >
      @for (item of item.data; track item.imdbID) {
      <section class="grid-item">
        <ms-media-card [media]="item" (valueChanged)="onValueChanged($event)">
        </ms-media-card>
      </section>
      }
    </article>
  </div>
</ng-template>
