main {
  overflow: hidden;
}

div.media-container {
  @apply w-11/12 flex flex-col gap-4;
}

article {
  display: flex;

  &.list-content {
    @apply flex-col gap-4;
  }

  &.grid-content {
    @apply flex-row flex-wrap gap-4;

    .grid-item {
      width: 400px;
    }
  }
}
