<main class="flex flex-col justify-center items-center gap-4">
  @if(!hasFilterType()) { @for (item of media(); track item.type) {

  <ng-container
    *ngTemplateOutlet="mediaSection; context: { $implicit: item }"
  ></ng-container>

  } } @else {
  <ng-container
    *ngTemplateOutlet="mediaSection; context: { $implicit: mediaItem() }"
  ></ng-container>
  }
</main>

<ng-template #mediaSection let-item>
  <header class="w-3/4 text-4xl">
    {{ item.type | titlecase | pluralize : item.count }} ({{ item.count }})
  </header>

  <article class="media-card-wraaper flex flex-col gap-4 w-3/4">
    @for (item of item.data; track item.imdbID) {
    <ms-media-card [media]="item" (valueChanged)="onValueChanged($event)">
    </ms-media-card>
    }
  </article>
</ng-template>
