.mat-mdc-card {
  flex-direction: row;
  width: 100%;

  > .mat-mdc-card-image {
    width: 300px;
    height: 455px;
  }

  > .mat-mdc-card-content {
    display: flex;
    flex-direction: column;
    padding: 8px;

    > button.mat-mdc-button {
      width: 64px;
    }
  }

  > .mat-mdc-card-actions {
    flex-grow: 0.6;
    flex-direction: column;
  }
}
