<div class="places-wrapper">
  <div class="parallax-image" #parallaxImage></div>

  <header>
    <div class="spacer"></div>
    <to-floating-button
      [label]="'Logout'"
      (clicked)="onButtonClick()"
    ></to-floating-button>
  </header>
  <div class="places-list-container">
    <main class="content" #scrollContent (scroll)="onContentScroll()">
      <!-- <to-places-list
        [places]="places()"
        [selection]="selection()"
        (selectionChanged)="onSelectionChanged($event)"
      ></to-places-list> -->
    </main>
  </div>
</div>
