@use 'variables' as main;

div.places-wrapper {
  position: relative;
  overflow: hidden;
  height: 100vh; /* Adjust based on your needs */
}

.parallax-image {
  background-image: url('../../../assets/images/backgrounds/user.jpg');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

div.places-list-container {
  height: 100%;
  justify-content: center;
  display: flex;
  width: 100%;
}

main.content {
  top: 0;
  left: 0;
  // width: 90%;
  height: 80%;
  overflow-y: scroll;
}
