<div class="places-wrapper">
  <div class="parallax-image"></div>
  <header class="h-40 flex justify-center items-center">
    <div class="w-10/12">
      <to-places-header></to-places-header>
    </div>
    <dom-floating-button
      [label]="'Logout'"
      (clicked)="onLogout()"
    ></dom-floating-button>
  </header>
  <div class="places-list-container">
    <main class="content w-10/12">
      <to-places-list
        [places]="places()"
        [selection]="selection()"
        (selectionChanged)="onSelectionChanged($event)"
      ></to-places-list>
    </main>
  </div>
</div>
