<mat-card class="login-form">
  <mat-card-header class="center-header">
    <img
      mat-card-sm-image
      ngSrc="../../../assets/images/logo2.png"
      width="60"
      height="60"
      priority
      alt="logo"
    />
    <dom-divider-header label="Sign In"></dom-divider-header>
  </mat-card-header>

  <mat-card-content class="login-form-wrapper">
    <form
      [formGroup]="loginFormGroup"
      (ngSubmit)="onSubmit(loginFormGroup.value)"
    >
      @for (name of formKeys(); track name) {

      <dom-form-input
        [control]="loginFormGroup.controls[name]"
        [name]="name"
        [label]="name | titlecase"
        [messagesMap]="errorsMap[name]"
        [type]="inputTypes[name]"
      >
      </dom-form-input>

      }
      <button
        class="login-btn"
        mat-flat-button
        type="submit"
        color="primary"
        [disabled]="!loginFormGroup.valid"
      >
        Login
      </button>
    </form>

    <dom-divider-header label="or"></dom-divider-header>

    <section class="actions-buttons-wrapper">
      <button
        mat-stroked-button
        class="google-btn"
        [disableRipple]="true"
        (click)="oGoogleSignIn()"
      >
        <mat-icon svgIcon="google" class="google-icon"></mat-icon>
        Continue with Google
      </button>
      <button
        class="forget-btn"
        [disableRipple]="true"
        mat-button
        type="button"
        (click)="onForgetPassword()"
      >
        Forget your password ?
      </button>
    </section>
  </mat-card-content>
</mat-card>
