<mat-card class="reset-contact-form">
  <mat-card-content>
    <dom-divider-header label="Enter Contact"></dom-divider-header>
    <section>
      <mat-icon color="primary" fontIcon="attach_email"></mat-icon>
    </section>

    <form
      [formGroup]="resetFormGroup"
      (ngSubmit)="onSubmit(resetFormGroup.value)"
    >
      @for (name of formKeys(); track name) {

      <dom-form-input
        [control]="resetFormGroup.controls[name]"
        [name]="name"
        [label]="name | titlecase"
      >
      </dom-form-input>
      }

      <button
        class="login-btn"
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!resetFormGroup.valid"
      >
        Send Link
      </button>
    </form>
  </mat-card-content>
</mat-card>
