<div class="books-page">
  <header>
    <div class="search-wrapper">
      <books-scape-search-input
        [initialValue]="initialValue()"
        (termChanged)="onTermChanged($event)"></books-scape-search-input>
    </div>
  </header>

  <main class="books-wrapper">
    @for (book of books(); track book.id) {
    <div class="book-card-wrapper">
      <books-scape-book-card
        [book]="book"
        (addToCart)="onAddToCart($event)"></books-scape-book-card>
    </div>

    }
  </main>
</div>
