:host {
  margin: 16px;
  mat-card.favorite {
    width: 100%;
    cursor: pointer;

    &:hover {
      background-color: #a1dfff;
    }

    // flex-direction: row;
    // align-items: center;
    vertical-align: center;

    mat-card-header {
      padding-bottom: 8px;
      justify-content: space-between;
    }
  }
}
