@use 'variables' as main;

.grid-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.list-container  {
  display: grid;
  gap: 24px; // Adjust the gap as needed
  grid-template-columns: repeat(2, 1fr); // This ensures 2 images per row
}

