@use '@angular/material' as mat;

/* http://mcg.mbitson.com/ */
/* For use in src/lib/core/theming/_palette.scss */
$plt-primary: (
  50: #eaf5f9,
  100: #cae7f1,
  200: #a7d7e7,
  300: #84c6dd,
  400: #69bad6,
  500: #4faecf,
  600: #48a7ca,
  700: #3f9dc3,
  800: #3694bd,
  900: #2684b2,
  A100: #f0faff,
  A200: #bde8ff,
  A400: #8ad6ff,
  A700: #70cdff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$plt-secondary: (
  50: #f0f2f3,
  100: #d8dfe2,
  200: #bfcacf,
  300: #a5b4bb,
  400: #91a4ad,
  500: #7e949e,
  600: #768c96,
  700: #6b818c,
  800: #617782,
  900: #4e6570,
  A100: #d4f0ff,
  A200: #a1dfff,
  A400: #6ecdff,
  A700: #54c4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$plt-primary: mat.define-palette($plt-primary);
$plt-secondary: mat.define-palette($plt-secondary, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$weather-theme: mat.define-light-theme(
  (
    color: (
      primary: $plt-primary,
      accent: $plt-secondary,
      warn: $warn,
    ),
  )
);

$plt-background: map-get($weather-theme, background);
$plt-foreground: map-get($weather-theme, foreground);

$p-keys: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;
$a-keys: (
  100: A100,
  200: A200,
  400: A400,
  700: A700,
  500: 500,
);

@mixin weather-theme {
  @include mat.core();
  @include mat.all-component-themes($weather-theme);

  :root {
    @each $key in $p-keys {
      --p-#{$key}: #{map-get($plt-primary, $key)};
    }

    @each $key, $value in $a-keys {
      --a-#{$key}: #{map-get($plt-secondary, $value)};
    }

    @each $key, $value in $plt-background {
      --b-#{$key}: #{$value};
    }

    @each $key, $value in $plt-foreground {
      --f-#{$key}: #{$value};
    }
  }
}
