@use "theme" as main;
// @import "~ngx-toastr/toastr";

@include main.weather-theme();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toast-position {
  top: 72px;
  right: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
