<div class="lobby-page-wrapper">
  <header >
    @if(control) {
    <dom-form-autocomplete
      [label]="'Enter City'"
      [defaultValue]="'tel aviv'"
      [options]="filtered()"
      [control]="control"
      (optionSelected)="onOptionSelected($event)"
      (queryChanged)="onQueryChanged($event)"
      [displayFn]="displayFn"
    >
      <ng-template domOptionContent let-option>
        {{ option | pluck : 'LocalizedName' }},
        {{ option | pluck : 'Country' | pluck : 'LocalizedName' }}
      </ng-template>
    </dom-form-autocomplete>
    }
  </header>

  <main>
    <section class="weather-space-result-wrapper">
      @defer ( when isWeatherData()) {
      <weather-space-result-card
        [optionSelected]="optionSelected()"
        [currentWeather]="currentWeather()"
        [futureWeather]="futureWeather()"
        [metric]="isMetric()"
        [isFavorite]="isFavorite()"
        (unitChanged)="onUnitTempChange($event)"
        (favoriteChanged)="onFavoriteChanged($event)"
      ></weather-space-result-card>
      }
    </section>
  </main>
</div>
