<div class="lobby-page-wrapper">
  <header>
    @if(control) {

    <weather-space-autocomplete
      [label]="'Enter City'"
      [defaultValue]="'tel aviv'"
      [options]="options()"
      [control]="control"
      (optionSelected)="onOptionSelected($event)"
      (queryChanged)="onQueryChanged($event)"
      [displayFn]="displayFn"
      [optionTemplate]="optionTemplate"
    >
    </weather-space-autocomplete>
    }

    <ng-template #optionTemplate let-option>
      {{ option | pluck : 'LocalizedName' }},
      {{ option | pluck : 'Country' | pluck : 'LocalizedName' }}
    </ng-template>
  </header>

  <main>
    <section class="weather-space-result-wrapper">
      @if(isWeatherData()) {

      <!-- <weather-space-result-card
        [optionSelected]="optionSelected()"
        [currentWeather]="currentWeather()"
        [futureWeather]="futureWeather()"
        [metric]="isMetric()"
        [isFavorite]="isFavorite()"
        (unitChanged)="onUnitTempChange($event)"
        (favoriteChanged)="onFavoriteChanged($event)"
      ></weather-space-result-card> -->
      }
    </section>
  </main>
</div>
