div,
header,
main {
  width: 100%;
}

dic.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  // display: flex;
  // justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  @media (min-width: 601px) {
    flex: 0 0 10rem; // This sets the flex-basis to 10rem, not growing or shrinking
  }
  weather-autocomplete {
    width: 30%;
  }
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  section.weather-result-wrapper {
    width: 50%;
  }
}
