<ng-container *ngIf="item() as item">
  <mat-card (click)="onSelectionChanged()" class="favorite">
    <mat-card-header>
      <mat-card-title>{{ item.LocalizedName | titlecase }}</mat-card-title>
      <!-- <button mat-button color="primary" [disableRipple]="true" (click)="onSelectionChanged()">
      </button> -->
    </mat-card-header>

    <mat-card-content>
      <span>{{ item.WeatherText | titlecase }}</span>
    </mat-card-content>
    <mat-card-content>
      <span mat-card-subtitle>
        {{ item.Temperature! | temperature : metric() }}
        {{ metric() | isUnit : 'temp' }}</span
      >
    </mat-card-content>
  </mat-card>
</ng-container>
