<mat-toolbar class="h-20 gap-4">
  <section class="w-96">
    <dom-search-input
      [control]="searchControl"
      (termChanged)="onTermChanged($event)"
    ></dom-search-input>
  </section>
  <section class="flex flex-row gap-4">
    <button
      [disableRipple]="true"
      color="primary"
      mat-flat-button
      (click)="onSort()"
    >
      sort
    </button>
    <button
      [disableRipple]="true"
      color="primary"
      mat-flat-button
      (click)="onClear()"
    >
      clear
    </button>
    <button
      [disableRipple]="true"
      color="primary"
      mat-flat-button
      (click)="onRefresh()"
    >
      refresh
    </button>
  </section>
</mat-toolbar>
