<!-- <books-scape-layout>

</books-scape-layout> -->
<header class="p-4">
  <form class="flex flex-row gap-4" [formGroup]="booksAutocomplete">
    @for (key of booKeys(); track $index) {
    <!-- <dom-autocomplete
      [control]="booksAutocomplete.controls[key]"
      [options]="optionsMap()[key]"
    ></dom-autocomplete> -->

    }
  </form>

  <mat-form-field appearance="outline">
    <input type="text" matInput autocomplete="off" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of books(); track option.id) {
      <mat-option [value]="option">{{ option.title }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</header>
