<books-scape-layout>
  @if(showForm()) {
  <header class="p-4">
    <form class="flex flex-row gap-4" [formGroup]="booksAutocomplete">
      @for (key of booKeys(); track $index) {
      <mat-form-field class="w-80" appearance="outline">
        <input
          type="text"
          matInput
          [formControlName]="key"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of books(); track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      }
    </form>
  </header>

  <header class="p-4">
    <mat-form-field>
      <mat-label>Choose an option</mat-label>
      <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  </header>
  }
</books-scape-layout>
