<books-scape-layout [showNavigation]="true">
  <div class="table-wrapper w-full">
    <article class="w-full h-3/4 flex justify-center items-center">
      <dom-table
        class="w-1/2"
        [idKey]="'position'"
        [dataSource]="data()"
        [columns]="columns"
        [editRow]="true"
        [rowModesModel]="rowModesModel()"
      >
        <ng-template domActionCell let-element>

          <books-scape-table-actions
            [rowModesModel]="rowModesModel"
            [element]="element"
          ></books-scape-table-actions>
        </ng-template>

        <ng-template domFormCell let-element>
          <!-- write input per field -->
        </ng-template>
      </dom-table>
    </article>
  </div>
</books-scape-layout>
