<books-scape-layout [showNavigation]="true">
  <div class="table-wrapper w-full">
    <article class="w-full h-3/4 flex justify-center items-center">
      <books-scape-table
        class="w-1/2"
        [idKey]="'position'"
        [dataSource]="data()"
        [columns]="columns"
        [editRow]="true"
        [actionTemplate]="actionTemplate"
      ></books-scape-table>
    </article>
  </div>
</books-scape-layout>

<ng-template #actionTemplate>
  <div class="flex gap-4 justify-center items-center">
    <table-actions-cell icon="edit"></table-actions-cell>
    <table-actions-cell text="save"></table-actions-cell>
  </div>
</ng-template>
