@use 'theme' as main;

// @use 'm3' as main;

@include main.travel-on-theme();
/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
to-root {
  height: 100vh;
  scroll-behavior: smooth;
  display: block;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button {
  font-size: 14px;
}

mat-icon {
  color: #707070;
}
