div.books-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  main.books-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 16px;
    padding: 16px;

    div.book-card-wrapper {
      width: 24%;
    }

    h1 {
      letter-spacing: 10px;
      text-transform: uppercase;
      font-size: 3.4375rem;
      font-weight: 500;
    }
  }
}
