.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  gap: 16px;

  mat-nav-list {
    display: flex;
    gap: 16px;

    span {
      cursor: pointer;
    }
  }

  span.spacer {
    flex-grow: .97;
  }

  span.cart {
    justify-self: flex-end;
  }
}
