.sidenav-container {
  height: 100%;
  // background-image: url("../../../assets/img/background.jpg");
  // background-size: cover;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

  span.grow {
    flex-grow: 1;
  }
}

.mat-button-toggle-group {
  font-size: 12px;
}

.units {
  // width: 100%;
  // display: flex;
  // justify-content: flex-end;
}
