<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z3">
      <div class="toolbar-container">
        <section class="logo">
          <h1>Weather Space</h1>
          <mat-slide-toggle [checked]="isLocal()" (change)="onValueChanged($event)">{{'locally' | titlecase}}</mat-slide-toggle>
        </section>
        <section class="navigation">
          <button mat-button [routerLink]="'/'">Home</button>
          <button mat-button [routerLink]="'/favorites'">Favorites</button>
        </section>
      </div>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
