<mat-card>
  <mat-card-content>
    <dom-divider-header label="Register"></dom-divider-header>
    <form
      [formGroup]="registerFormGroup"
      (ngSubmit)="onSubmit(registerFormGroup.value)"
    >
      @for (name of formKeys(); track name) {

      <dom-form-input
        [control]="registerFormGroup.controls[name]"
        [name]="name"
        [label]="name | titlecase"
        [messagesMap]="errorsMap[name]"
        [type]="inputTypes[name]"
      >
      </dom-form-input>
      }

      <button
        class="login-btn"
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!registerFormGroup.valid"
      >
        Register
      </button>
    </form>
  </mat-card-content>
</mat-card>
