<mat-card>
  <mat-card-content>
    <dom-divider-header label="Register"></dom-divider-header>
    <form
      [formGroup]="registerFormGroup"
      (ngSubmit)="onSubmit(registerFormGroup.value)">
      @for (key of formKeys(); track key) {

      <dom-form-input
        [control]="registerFormGroup.get(key)"
        [key]="key"
        [label]="key | titlecase"
        [messagesMap]="errorsMap[key]">
      </dom-form-input>
      }

      <button
        class="login-btn"
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!registerFormGroup.valid">
        Register
      </button>
    </form>
  </mat-card-content>
</mat-card>
