<div>
  <section class="h-28 p-16 flex justify-between">
    <span>{{ 'Save in cookies' | titlecase }}</span>
    <mat-slide-toggle></mat-slide-toggle>
  </section>
  <section class="h-28 p-16 flex justify-between">
    <span>{{ 'Save Locally' | titlecase }}</span>
    <mat-slide-toggle></mat-slide-toggle>
  </section>
</div>
<!-- <mat-nav-list>
  <a href="https://keep.google.com/" mat-list-item>
    <span matListItemTitle>Google Keep</span>
    <span matLine>Add to a note</span>
  </a>
</mat-nav-list> -->
