div.basket-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  main.basket-wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 16px;
    padding: 16px;

    h1 {
      letter-spacing: 10px;
      text-transform: uppercase;
      font-size: 3.4375rem;
      font-weight: 500;
    }
  }
}
